aiohttp==3.8.4
aiosignal==1.2.0
amqp==1.4.9
anyio==3.6.2
anyjson==0.3.3
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
asynctest==0.13.0
attrs==22.2.0
Automat==22.10.0
beautifulsoup4==4.11.2
bilibili-api==2.1.4
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
constantly==15.1.0
contextvars==2.4
cryptography==40.0.2
cssselect==1.1.0
cssutils==2.3.1
cycler==0.11.0
dataclasses==0.8
Django==3.2.18
django-celery==3.3.0
django-ranged-response==0.2.0
django-scheduler==0.9.6
django-simple-captcha==0.5.17
et-xmlfile==1.1.0
filelock==3.4.1
Flask==1.1.2
frozenlist==1.2.0
greenlet==2.0.2
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
hyperlink==21.0.0
icalendar==4.1.0
idna==2.8
idna-ssl==1.1.0
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.0.1
jdcal==1.4.1
jieba==0.42.1
Jinja2==3.0.3
jmespath==0.10.0
jsonpath==0.82
kiwisolver==1.3.1
kombu==3.0.37
lxml==4.9.1
MarkupSafe==2.0.1
matplotlib==3.3.4
multidict==5.2.0
MyApplication==0.1.0
numpy==1.19.5
OpenAIAuth==0.3.2
openpyxl==3.0.3
pandas==1.0.3
parsel==1.6.0
Pillow==8.4.0
prettytable==2.5.0
prompt-toolkit==3.0.36
Protego==0.2.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pyecharts==2.0.3
PyMySQL==1.0.2
pyOpenSSL==23.1.1
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.7.1
queuelib==1.6.2
requests==2.27.1
requests-file==1.5.1
revChatGPT==3.0.2
rfc3986==1.5.0
schedule==1.1.0
Scrapy==2.6.3
scrapy-djangoitem==1.1.1
selenium==3.141.0
service-identity==21.1.0
simplejson==3.19.1
six==1.16.0
snapshot-selenium==0.0.2
sniffio==1.2.0
socksio==1.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.54
sqlparse==0.4.3
tldextract==3.1.2
tqdm==4.64.1
Twisted==21.2.0
twisted-iocpsupport==1.0.3
typing-extensions==4.1.1
urllib3==1.25.11
w3lib==2.0.1
wcwidth==0.2.6
websockets==9.1
Werkzeug==2.0.3
yarl==1.7.2
zipp==3.6.0
zope.interface==5.5.2
